.button {
  padding: 0.5rem;
  border: 2px solid var(--color-button-border-l);
  background-color: var(--color-button-bg-l);
  color: var(--color-button-text-l);
  font-size: 2rem;
  line-height: 1;
  border-radius: 20px;
}

.button--disabled {
  border-color: var(--color-button-disabled-border-d);
  background-color: var(--color-button-disabled-bg-d);
  color: var(--color-button-disabled-text-d);
}
