:root {
  /* Цвета фона */
  --color-main-bg: #000000;
  --color-section-bg: #4242426c;
  /* --color-main-line: linear-gradient(#000000, #040034fd); */

  --color-main-bg-l: #ffe5b9db;
  --color-section-bg-l: #fff9efdb;
  

  /* Цвета текста */
  --color-text-heading: #cac2c2;
  --color-text-p: #f5d628c0;

  --color-text-heading-l: #111111;
  --color-text-p-l: #332d18;

  /* Цвета кнопок */
  --color-button-bg: #ffffff00;
  --color-button-text: #ededed;
  --color-button-border: #ffffff;
  --color-button-disabled-bg: #f6f6f6;
  --color-button-disabled-text: #000000c1;
  --color-button-disabled-border: #ffffff;
  
  --color-button-bg-l: #00000000;
  --color-button-text-l: #000000;
  --color-button-border-l: #2c1a0a;
  --color-button-disabled-bg-l: #2c1a0a;
  --color-button-disabled-text-l: #ffffffec;
  --color-button-disabled-border-l: #2c1a0aea;



  /* Прочие цвета */
  --color-border: #4747475f;
  --color-spinner: #00000000;
  --color-scroll-progress: #3c547d;
  --color-star: #fffb00ce;

  --color-border-l: #09090915;
  --color-spinner-l: #09090915;
  --color-scroll-progress-l: #2e2e2e27;
  --color-star-l: #000000;

  /* Размеры шрифтов */
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1.125rem;
  --font-size-p: 1rem;
  --font-size-button: 1rem;
  --font-size-star: 1.25rem;
}
